*{

}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


main{
    width: 200px;
}


input{
    padding: 20px 10px;
    display: flex;
}

.action {
    display: flex;
    justify-content: space-between;
}

button {
    width: 30px;
    height: 20px;
}

.number{
    margin-bottom: 0.5em;
}

